@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-menu-hover:hover {
    background-color: #9ca5ff !important;
    color: white !important;
}
